.topper {
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  padding: 2rem;
}

.topperText {
  color: white;
  width: 48px;
  text-align: center;
  margin-top: 10px;
}

.divider {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.dividerLine {
  width: 80%;

  height: 5px;
  background: #044040;
  display: flex;
  margin-top: 10px;
}

.dividerBorder {
  width: 10px;
  border-radius: 50%;
  height: 10px;
  background: #044040;
  display: flex;
  margin-top: 7px;
  margin-right: -3px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  text-decoration: none;
}

.buttonArea {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #044040;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
