.buyInfoContainer {
    display: flex;
}

.leftSideContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rightSideContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    right: 0;
}

.flexContent {
    display: flex;
    align-items: center;
    margin: 10px 0px;
    padding-left: 10px;
}

.flexContent h1 {
    margin: 0px 4px;
}

.flexContent h3 {
    margin: 0px 4px;
}

