
.walletContainer {
    display: flex;
    height: 62px;
    margin: 20px 0px;
    background: linear-gradient(#0E4428 , #19CB78);
}

.walletContainerRight {
    display: flex;
}

.optionsContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}